

.j6{
     
        color: #23325F;
        font-size: 25px;
        margin-top: 2rem;
        margin-bottom:3.5rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.3;
        font-family: Arial, Helvetica, sans-serif;

   
    max-width: 500px;
    margin: 0px 0px 0px 210px;
   
}

.img1{
    
    width:"46px";
    height:"46px";
   margin-bottom:1rem
}
.j7{
    color: #546fff;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:1rem;
    max-width: 320px;
    
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: -0.015em;

/* Base Text */

color: #354454;

display: -webkit-box;
-webkit-line-clamp: 3;

max-width: 320px;

}

@media only screen and (max-width:500px){
    
.j6{
     
    color: #23325F;
    font-size: 18px;
  
    font-weight: 600;
   
    text-align: center;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;

    
  margin:1.5rem 0rem 3.5rem 0rem ;
  max-width: 300px;


}
.j7{
    color: #546fff;
    margin: 0;
    font-weight: 500;
font-size: 18px;
line-height: 27px;
/* or 150% */


letter-spacing: -0.015em;

    margin-bottom:1rem;
    max-width: 276px;
    
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
/* or 171% */

letter-spacing: -0.015em;

/* Base Text */

color: #354454;
}

}

